{% for _type in custom_types %}
{{ _type['name'] }} = Enum(
    value='{{ _type['name'] }}',
    names=[
        {%- for key, value in _type['properties']['values'].items() %}
        ('{{ key }}', {{ value }}){% if not loop.last %},{% endif %}
        {%- endfor %}
    ]
)
{% endfor %}